@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family:  'Luckiest Guy', cursive, -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h3 { font-family:'Luckiest Guy', cursive;}
h2 { font-family:'Luckiest Guy', cursive;}
h1 { font-family:'Luckiest Guy', cursive;}
p { font-family:'Luckiest Guy', cursive;}
button {
  justify-content: center;
  margin-top: 1.5rem;
  padding: 1rem;
}
.form-layout {
 text-align:  center;
 margin-top: 5rem;
}
.page-fix-margin {
  margin-top: 6rem;
}
.wrap-it {
  display: flex;
  flex-wrap: wrap;
}
.nav-bar {
  position: fixed;
  margin: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  align-content: center;

}
.pad-it {
  padding: 1rem;
}
.entire-stat-box {
  margin: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
}
.title-header {
  text-align: center;
  padding: 2rem;
}
.header-flex {
  display: flex;
  flex-direction: row;
  color: ivory; 
}
.header-box-one {
  max-width: 50%;
}
.header-box-three {
  display: flex;
  margin: 0;
}
.blue-color-light {
  background-color: #47c0ef;
}
.blue-color {
  background-color: #30b8ed;
}
.blue-color-dark {
  background-color: #029ad5;
}
.sub-header-flex {
  display: flex;
  justify-content: space-around;
  color: ivory; 
}
.sub-header-box-one {
  max-width: 100%;

}
.sub-header-box-two {
  max-width: 100%;
}
.orange-color-light {
  background-color: #f8bd7f;
}
.orange-color {
  background-color: #f2aa7e;
}
.orange-color-dark {
  background-color: #f5ac72;
}
.purple-color-light {
  background-color: #af71ce;
}
.purple-color {
  background-color: #a25ac4;
}
.purple-color-dark {
  background-color: #764487;
}
.flex-box-three {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
}
.home-page-flex {
  display: flex;
  flex-direction: row;
  padding:5%;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  width: 45vw;
}
.top-margin {
  margin-top: 1.3rem;
}
.width {
  width: 1rem;
}
.margin-box-two {
  margin: 1.3rem 30rem 1.3rem 0;
}
.right-margin {
  margin: 1.3rem 0 1.3rem 0;
}
.gradient-effect-blue {
  background: linear-gradient(65deg, #47c0ef 50%, #029ad5 50%);
  padding: 0 3rem 0 3rem;
}

.gradient-effect-orange {
  background: linear-gradient(65deg, #f8bd7f 50%, #f5ac72 50%);
  padding: 0 3rem 0 3rem;
}

.gradient-effect-purple {
  background: linear-gradient(65deg, #af71ce 50%, #764487 50%);
  padding: 0 3rem 0 3rem;
}
.gradient-color-purple {
  color: #764487;
}
.margin-left-one {
  margin-left: 1rem;
}
.bold-font-weight {
  font-weight: 900;
}
.text-align-to-right {
  text-align: right;
}
.thin-gray-border {
  border-style: solid;
  border-color: gray;
  border-width: 2px;
}
.top-padding {
  padding-top: 4rem;
}
.spacing {
  padding: 0 1rem 0 1rem;
}